# Logs
logs
*.log
npm-debug.log*

# Dependency & Build
node_modules
dist
package-lock.json

# Environments
*.local
.env

# IDEs & Editors
.vscode/*
!.vscode/extensions.json

# OS Files
.DS_Store

# Misc Files
lang.json
model.json
key.txt

# Markdown (Docs & Agents)
docs/**/*.md
.agents/**/*.md
